/*FUENTES DE GOOGLE*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --backgroung-primary: rgb(237, 242, 252);
    --color-primary: rgb(238, 243, 247);
    --color-fondo: rgb(244, 244, 244);
    --fondo-2:rgb(228, 228, 228);

    --green-1: rgb(149, 205, 115);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a,
a:hover {
    text-decoration: none;
    color: black;
}

li a i {
    width: 30px;
    text-align: center;
    font-size: 17px;
}

button {
    border: 0;
}

form {
    position: relative;
}

input {
    width: 400px;
    outline: none;
    padding: 9px 15px;
    border: 0;
    border-radius: 10px;
    background-color: rgb(247, 247, 247);
    font-family: 'Open Sans', sans-serif;
    border: 1px solid transparent;
}

input:focus {
    border: 1px solid var(--green-1);
}

.search-btn {
    position: absolute;
    right: 13px;
    top: 8px;
}

.precio_prod{
    font-size: 20px;
    color: rgb(37, 37, 37);
}

/*Clases generales start*/
.flex {
    display: flex;
}

.flex-center {
    align-items: center;
}

.flex-center-center {
    justify-content: center;
}

.flex-between {
    justify-content: space-between;
}

.flex-around {
    justify-content: space-around;
}

.fit {
    object-fit: cover;
}

.btn-transparent {
    background-color: transparent;
}

.show {
    visibility: visible !important;
}

/*Clases generales end*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color: var(--color-fondo);
}

::-webkit-scrollbar {
    width: 5px;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    background-color: #cfcfcf;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}


/*HEADER MAIN START*/

.header {
    Width: 100%;
    height: 60px;
    background-color: #ffff;
    position: fixed;
    z-index: 9999999999;
    box-shadow: 0px 2px 20px rgba(99, 96, 96, 0.075);
    padding: 0px 50px;
}

.logo a h4 {
    color: rgb(48, 46, 46);
}

.logo a h4 span {
    color: rgb(149, 205, 115);
    margin-right: 5px;
}

.pages ul {
    margin-left: 30px;
}

.pages ul li {
    position: relative;
}

.pages ul li a {
    display: block;
    height: 100%;
    padding: 17px 20px 13px 20px;
    border-bottom: 2px solid transparent;
}

.pages ul li a:hover {
    border-bottom: 2px solid var(--green-1);
    transform: .6s;
}

.menu_btns ul li {
    margin-left: 5px;

}

.menu_btns ul li a button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.menu_btns {
    display: none;
}


.pages ul li .sub_menu {
    padding: 10px;
    width: 200px;
    top: 55px;
    background-color: #fff;
    left: 0;
    position: absolute;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.808);
    visibility: hidden;
    margin: 0 !important;
}

.pages ul li:hover .sub_menu {
    visibility: visible;
}

.sub_menu li a {
    padding: 5px 10px !important;
}



.search {
    position: relative;
}

.search .rest_content {
    width: 400px;
    max-height: 500px;
    border-radius: 10px;
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #ffff;
    box-shadow: 0px 2px 2px rgba(92, 89, 89, 0.082);
    padding: 10px;
    visibility: hidden;
}

.rest_content ul {
    max-height: 300px;
    overflow-y: auto;
}


.search_item {
    border-bottom: 1px solid rgb(245, 245, 245);
    display: flex !important;
}

.search_item a {
    width: 100%;
    display: flex;
    padding: 5px 10px;
}

.search_item a:hover {
    background-color: var(--color-fondo);
    border-radius: 5px;
}

.search_item a .item_img {
    width: 60px;
    height: 60px;

}

.search_item a .item_img img {
    width: 100%;
    height: 100%;

}

.search_item a .item_info {
    width: calc(100% - 50px);
    padding: 10px 20px;
}


.active_btn a button {
    background-color: var(--green-1);
    color: #ffff;
    transition: .5s;
}




main {
    padding-top: 60px;
}

section {
    width: 100%;
}

.section_inicio {
    min-height: calc(100vh - 100px);
    background-image: url(../img/img_20cd85c8dfd68cece0f8baeb2b1ddbf0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    ;
    padding: 20px;
}

.section_inicio h1 {
    color: #fff;
    text-align: center;
    font-size: 50px;
}

.section_inicio h1 span {
    color: var(--green-1);
}



.section_store{
    padding: 10px;
    background-color: var(--fondo-2);
    min-height: calc(100vh - 105px);
}

.section_store .breadcrumb{
    padding: 40px;
    font-size: 13px;
}

.section_store .aside_store{
    position: relative;
}

.section_store .aside_store .aside{
    width: 280px;
}


.aside {
    padding: 0px 40px;
}
.aside .nav{
    display: block;
}

.aside ul li a{
    width: 100%;
    display: block;
    padding: 6px 15px;
    border-radius: 10px;
}
.aside ul li a i{
    visibility: hidden;
}
.aside ul li .active{
    background-color: #ffff;
    color: var(--green-1);
}
.aside ul li .active i{
    visibility: visible;
}
.aside ul li a:hover{
    background-color: var(--color-fondo);
}

.store{
    width: calc(100% - 280px);
}




.grid_productos {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
}

.producto-item {
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    z-index: 999;
}

.producto-item .img_prod{
    width: 100%;
    height: 200px;
    margin-bottom: 5px;
}
.producto-item .img_prod img{
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0px 0px;
}
.producto-item .info_prod{
    width: 100%;
    padding: 10px;
}
.producto-item .info_prod .title {
    font-size: 17px;
    margin-bottom: 10px;
}

.producto-item .btns_detaills{
    width: 100%;
}

.producto-item .btns_detaills a{
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: var(--green-1);
    color: #fff;
    border-radius: 0px 0px 8px 8px;
}
.producto-item i{
    padding: 0px 5px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
    position: absolute;
    left: 0;
}
.producto-item:hover i{
    visibility: visible;
    transform: rotate(-360deg);
    margin-left: calc(100% - 50px);
    transition: 1s;
    color: var(--green-1);
    
}
.producto-item .btns_detaills a:hover{
    opacity: .9;
}

.btn_other{
    width: 100%;
    margin-top: 30px;
}

.btn_other a button{
    padding: 10px 30px;
    border-radius: 8px;
}


footer p{
    width: 100%;
    padding: 10px;
    color: rgb(104, 103, 103);
    text-align: center;
}


@media screen and (max-width:1200px) {

    input {
        width: 300px;
    }
}

@media screen and (max-width:1100px) {}

@media screen and (max-width:940px) {
    .right_header .search {
        background-color: #ffff;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100% !important;
        padding: 10px;
        visibility: hidden;
    }

    .right_header .search input {
        width: 100% !important;
    }

    .search .rest_content {
        width: 100%;
    }

    .right_header .menu_btns {
        display: block;
    }

    .right_header .menu_btns .btn_menu {
        display: none;
    }
    .aside_store{
        display: block;
    }
    .aside{
        width: 100% !important;
        padding:  0!important;
        margin-bottom: 30px;
    }
    .aside ul{
        padding: 0 !important;
        width: 100%;
        display: flex;
    }
    .aside_store .aside .nav{
        display: flex !important;
    }
    .store{
        width:100%;
    }
}

@media screen and (max-width:900px) {}

@media screen and (max-width:800px) {

    .jum_inin-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(49%, 1fr));
        grid-gap: 10px;
    }
}

@media screen and (max-width:768px) {
    .right_header .menu_btns .btn_menu {
        display: block;
    }

    .pages {
        position: absolute;
        top: 65px;
        width: 200px;
        right: 30px;
        background-color: #ffff;
        visibility: hidden;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0px 2px 2px rgba(56, 55, 55, 0.336);
    }

    .pages ul {
        display: block;
        margin: 0;
    }
}

@media screen and (max-width:500px) {
    .header {

        padding: 0px 20px;
    }
    .section_store .breadcrumb{
        display: none;
    }
    .section_store{
        padding-top: 40px;
    }
}

@media screen and (max-width:435px) {
    .producto-item{
        display: flex;
        align-items: center;
        padding: 8px 10px;
    }

    .producto-item .img_prod{
        width: 200px;
        height: 150px;
        margin-right: 10px;
    }
    .btns_detaills a{
        border-radius: 8px !important;
        padding: 5px 10px !important;
    }
}